<!DOCTYPE html>
<html>
<head>
    <title>Студенты</title>
</head>
<body>
    <h1>Студенты</h1>
    <ul>
        {% for student in students %}
            <li>
                <strong>{{ student.full_name }}</strong>
                <form action="{{ url_for('student_detail', pk=student.id) }}" method="get" style="display: inline;">
                    <button type="submit" class="link-button">Подробнее</button>
                </form>
                <form action="{{ url_for('student_update', pk=student.id) }}" method="get" style="display: inline;">
                    <button type="submit">Обновить</button>
                </form>
                <form action="{{ url_for('student_delete', pk=student.id) }}" method="post" style="display: inline;">
                    <button type="submit">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('student_create') }}" method="get" style="display: inline;">
        <button type="submit" class="link-button">Создать</button>
    </form>

    <form action="{{ url_for('home') }}" method="get" style="display: inline;">
        <button type="submit" class="link-button">Главная страница</button>
    </form>
</body>
</html>
